<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-profile-heading"
        data-cy="CustomerProfileCreateUpdateHeading"
        jhiTranslate="bikeRentalAppApp.customerProfile.home.createOrEditLabel"
      >
        Create or edit a Customer Profile
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let addressRef = editForm.get('address')!;
        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="bikeRentalAppApp.customerProfile.address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          @if (addressRef.invalid && (addressRef.dirty || addressRef.touched)) {
            <div>
              @if (editForm.get('address')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('address')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '150' }"
                  >This field cannot be longer than 150 characters.</small
                >
              }
            </div>
          }
        </div>

        @let cityRef = editForm.get('city')!;
        <div class="mb-3">
          <label class="form-label" for="field_city" jhiTranslate="bikeRentalAppApp.customerProfile.city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          @if (cityRef.invalid && (cityRef.dirty || cityRef.touched)) {
            <div>
              @if (editForm.get('city')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('city')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        @let loyaltyPointsRef = editForm.get('loyaltyPoints')!;
        <div class="mb-3">
          <label class="form-label" for="field_loyaltyPoints" jhiTranslate="bikeRentalAppApp.customerProfile.loyaltyPoints"
            >Loyalty Points</label
          >
          <input
            type="number"
            class="form-control"
            name="loyaltyPoints"
            id="field_loyaltyPoints"
            data-cy="loyaltyPoints"
            formControlName="loyaltyPoints"
          />
          @if (loyaltyPointsRef.invalid && (loyaltyPointsRef.dirty || loyaltyPointsRef.touched)) {
            <div>
              @if (editForm.get('loyaltyPoints')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('loyaltyPoints')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let verifiedRef = editForm.get('verified')!;
        <div class="mb-3">
          <label class="form-label" for="field_verified" jhiTranslate="bikeRentalAppApp.customerProfile.verified">Verified</label>
          <input type="checkbox" class="form-check" name="verified" id="field_verified" data-cy="verified" formControlName="verified" />
          @if (verifiedRef.invalid && (verifiedRef.dirty || verifiedRef.touched)) {
            <div>
              @if (editForm.get('verified')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="bikeRentalAppApp.customerProfile.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            @if (editForm.get(['customer'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (customerOption of customersCollection(); track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)) {
          <div>
            @if (editForm.get(['customer'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
